/* Center the navbar buttons */

/*nav.nav-center ul {
    text-align: center;
    float: none !important;
}
nav.nav-center ul li {
    display: inline;
    float: none !important;
}
nav.nav-center ul li a {
    display: inline-block;
}*/


@media only screen and (min-width:1024px){
	.content{
		max-width: 40vw;
	    margin: auto;
	}
}

@media only screen and (max-width:1024px){
	.content{
		margin: 2em;
	}
}

.header{
	text-align: center;
	margin-bottom: 8px;
}

#name{
	font-family: sans-serif;
	color: royalblue;
	margin-bottom: 1vh;
}

.links{
	color: cornflowerblue;
	text-decoration: none;
}

.leftside{
	margin-bottom: 2vw;
}

.rightside{
	margin-bottom: 2vw;
}	

hr{
	margin: 0px;
}


	
@media only screen and (min-width: 1510px){
	.leftside{
		float:left;
		max-width: 20vw;
	}

	.rightside{
		float: right;
		max-width: 20vw;
	}	
}

.section{
	overflow: hidden;
}

.section-header{
	font-family: sans-serif;
	color: cornflowerblue;
	font-weight: 500;
}